In [75]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression

In [76]:
# list of years for which to produce linear forecasts
future_years = [2027, 2032, 2036, 2046, 2055]

In [77]:
# creage 
dfProjGroupsLinear = pd.DataFrame([
    ["Since 1981"         , 1981, 2023,     {}],
    ["Since 1982"         , 1982, 2023,     {}],
    ["Since 1983"         , 1983, 2023,     {}],
    ["Since 1984"         , 1984, 2023,     {}],
    ["Since 1985"         , 1985, 2023,     {}],
    ["Since 1986"         , 1986, 2023,     {}],
    ["Since 1987"         , 1987, 2023,     {}],
    ["Since 1988"         , 1988, 2023,     {}],
    ["Since 1989"         , 1989, 2023,     {}],
    ["Since 1990"         , 1990, 2023,     {}],
    ["Since 1991"         , 1991, 2023,     {}],
    ["Since 1992"         , 1992, 2023,     {}],
    ["Since 1993"         , 1993, 2023,     {}],
    ["Since 1994"         , 1994, 2023,     {}],
    ["Since 1995"         , 1995, 2023,     {}],
    ["Since 1996"         , 1996, 2023,     {}],
    ["Since 1997"         , 1997, 2023,     {}],
    ["Since 1998"         , 1998, 2023,     {}],
    ["Since 1999"         , 1999, 2023,     {}],
    ["Since 2000"         , 2000, 2023,     {}],
    ["Since 2001"         , 2001, 2023,     {}],
    ["Since 2002"         , 2002, 2023,     {}],
    ["Since 2003"         , 2003, 2023,     {}],
    ["Since 2004"         , 2004, 2023,     {}],
    ["Since 2005"         , 2005, 2023,     {}],
    ["Since 2006"         , 2006, 2023,     {}],
    ["Since 2007"         , 2007, 2023,     {}],
    ["Since 2008"         , 2008, 2023,     {}],
    ["Since 2009"         , 2009, 2023,     {}],
    ["Since 2010"         , 2010, 2023,     {}],
    ["Since 2011"         , 2011, 2023,     {}],
    ["Since 2012"         , 2012, 2023,     {}],
    ["Since 2013"         , 2013, 2023,     {}],
    ["Since 2014"         , 2014, 2023,     {}],
    ["Since 2015"         , 2015, 2023,     {}],
    ["Since 2016"         , 2016, 2023,     {}],
    ["Since 2017"         , 2017, 2023,     {}],
    ["Since 2018"         , 2018, 2023,     {}],
    ["Since 2019"         , 2019, 2023,     {}],
    ["Since 2020"         , 2020, 2023,     {}],
    ["Since 2021"         , 2021, 2023,     {}],
    ["Since 2022"         , 2022, 2023,     {}],
#    ["Since 2001 w/o 2020", 2001, 2023, {2020}],
#    ["Since 2011 w/o 2020", 2011, 2023, {2020}]
], columns=('pgName','pgYearFrom','pgYearTo','pgYearsExclude'))

display(dfProjGroupsLinear)

        pgName  pgYearFrom  pgYearTo pgYearsExclude
0   Since 1981        1981      2023             {}
1   Since 1982        1982      2023             {}
2   Since 1983        1983      2023             {}
3   Since 1984        1984      2023             {}
4   Since 1985        1985      2023             {}
5   Since 1986        1986      2023             {}
6   Since 1987        1987      2023             {}
7   Since 1988        1988      2023             {}
8   Since 1989        1989      2023             {}
9   Since 1990        1990      2023             {}
10  Since 1991        1991      2023             {}
11  Since 1992        1992      2023             {}
12  Since 1993        1993      2023             {}
13  Since 1994        1994      2023             {}
14  Since 1995        1995      2023             {}
15  Since 1996        1996      2023             {}
16  Since 1997        1997      2023             {}
17  Since 1998        1998      2023             {}
18  Since 1999        1999      2023             {}
19  Since 2000        2000      2023             {}
20  Since 2001        2001      2023             {}
21  Since 2002        2002      2023             {}
22  Since 2003        2003      2023             {}
23  Since 2004        2004      2023             {}
24  Since 2005        2005      2023             {}
25  Since 2006        2006      2023             {}
26  Since 2007        2007      2023             {}
27  Since 2008        2008      2023             {}
28  Since 2009        2009      2023             {}
29  Since 2010        2010      2023             {}
30  Since 2011        2011      2023             {}
31  Since 2012        2012      2023             {}
32  Since 2013        2013      2023             {}
33  Since 2014        2014      2023             {}
34  Since 2015        2015      2023             {}
35  Since 2016        2016      2023             {}
36  Since 2017        2017      2023             {}
37  Since 2018        2018      2023             {}
38  Since 2019        2019      2023             {}
39  Since 2020        2020      2023             {}
40  Since 2021        2021      2023             {}
41  Since 2022        2022      2023             {}

In [78]:
# import historic AADT (created in previous jupyter notebook)
dfHistoricAadt = pd.read_csv('intermediate/external-historic-aadt.csv', dtype={'externalid':'int','segid':'string','year':'int','AADT':'int'})
dfHistoricAadt

     externalid       segid  year  AADT
0          3601  1082_000.0  2023   817
1          3601  1082_000.0  2022   783
2          3601  1082_000.0  2021   792
3          3601  1082_000.0  2020   739
4          3601  1082_000.0  2019   740
..          ...         ...   ...   ...
845        3629  1826_004.9  2011  2555
846        3629  1826_004.9  2010   205
847        3629  1826_004.9  2009   200
848        3629  1826_004.9  2008   195
849        3629  1826_004.9  2007   200

[850 rows x 4 columns]

# Linear forecasts with assist from ChatGPT
https://chat.openai.com/share/d127492a-ad78-4f45-afd0-50e29069db1a

In [79]:
# Initialize a list to store the individual result DataFrames
forecast_results_list = []

# Open the error file
with open('intermediate/linear-forecasts-errors.txt', 'w') as err_file:
    # Loop through the projection groups
    for index, row in dfProjGroupsLinear.iterrows():
        pgName = row['pgName']
        pgYearFrom = row['pgYearFrom']
        pgYearTo = row['pgYearTo']
        pgYearsExclude = set(row['pgYearsExclude'])
        
        display('Forecasting ' + pgName + '...')

        # Group by SEGID and SOURCE and iterate through the groups
        for (externalid, segid), group in dfHistoricAadt.groupby(['externalid', 'segid']):
            
            # Filter the data according to the projection group criteria
            filtered_group = group[(group['year'] >= pgYearFrom) & (group['year'] <= pgYearTo)]
            filtered_group = filtered_group[~filtered_group['year'].isin(pgYearsExclude)]
            
            # Check if the filtered group is empty
            if filtered_group.shape[0] == 0:
                error_msg = f"Skipping empty group for externalid: {externalid}, segid: {segid}, Projection Group: {pgName}"
                print (error_msg)
                err_file.write(error_msg + f"\n")
                continue

            X = filtered_group['year'].values.reshape(-1, 1)
            y = filtered_group['AADT'].values

            model = LinearRegression()
            model.fit(X, y)
            
            # Predict for the specified future years
            aadt = model.predict(np.array([pgYearFrom] + future_years).reshape(-1, 1))

            # Round the forecasted values to the nearest integers
            aadt = np.rint(aadt).astype(int)

            # Create a dictionary to store results for this group
            result_dict = {'externalid': externalid, 'segid': segid, 'PROJ_GRP': pgName}
            result_dict.update({year: aadt for year, aadt in zip([pgYearFrom] + future_years, aadt)})

            # Convert the dictionary to a DataFrame and add to the list
            result_df = pd.DataFrame([result_dict])

            result_df_melt = result_df.melt(id_vars=['externalid','segid','PROJ_GRP'],var_name="year", value_name="LIN_FORECAST")

            forecast_results_list.append(result_df_melt)

# Concatenate all the individual result DataFrames
forecast_results = pd.concat(forecast_results_list, ignore_index=True)

# Now forecast_results contains the forecasts for the specified future years, along with ROUTE_ID, FROM_MEASURE, To_MEASURE, and Projection Group
#display(forecast_results)

'Forecasting Since 1981...'

'Forecasting Since 1982...'

'Forecasting Since 1983...'

'Forecasting Since 1984...'

'Forecasting Since 1985...'

'Forecasting Since 1986...'

'Forecasting Since 1987...'

'Forecasting Since 1988...'

'Forecasting Since 1989...'

'Forecasting Since 1990...'

'Forecasting Since 1991...'

'Forecasting Since 1992...'

'Forecasting Since 1993...'

'Forecasting Since 1994...'

'Forecasting Since 1995...'

'Forecasting Since 1996...'

'Forecasting Since 1997...'

'Forecasting Since 1998...'

'Forecasting Since 1999...'

'Forecasting Since 2000...'

'Forecasting Since 2001...'

'Forecasting Since 2002...'

'Forecasting Since 2003...'

'Forecasting Since 2004...'

'Forecasting Since 2005...'

'Forecasting Since 2006...'

'Forecasting Since 2007...'

'Forecasting Since 2008...'

'Forecasting Since 2009...'

'Forecasting Since 2010...'

'Forecasting Since 2011...'

'Forecasting Since 2012...'

'Forecasting Since 2013...'

'Forecasting Since 2014...'

'Forecasting Since 2015...'

'Forecasting Since 2016...'

'Forecasting Since 2017...'

'Forecasting Since 2018...'

'Forecasting Since 2019...'

'Forecasting Since 2020...'

'Forecasting Since 2021...'

'Forecasting Since 2022...'

In [80]:
# check a snippet
forecast_results

      externalid       segid    PROJ_GRP  year  LIN_FORECAST
0           3601  1082_000.0  Since 1981  1981           -26
1           3601  1082_000.0  Since 1981  2027           890
2           3601  1082_000.0  Since 1981  2032           989
3           3601  1082_000.0  Since 1981  2036          1069
4           3601  1082_000.0  Since 1981  2046          1268
...          ...         ...         ...   ...           ...
5791        3629  1826_004.9  Since 2022  2027          4065
5792        3629  1826_004.9  Since 2022  2032          4785
5793        3629  1826_004.9  Since 2022  2036          5361
5794        3629  1826_004.9  Since 2022  2046          6801
5795        3629  1826_004.9  Since 2022  2055          8097

[5796 rows x 5 columns]

In [81]:
# export csv
forecast_results.to_csv('results/linear-forecasts.csv', index=False)